@import "tests/qunit-console.css";

html,body { background:#040420; font:500 1em/1.4 Electrolize; color:#c3eddf }
a { color:#fff; text-decoration:none; font-weight:600 }
a:hover { background:#c3eddf; color:#000 }

#logo { font-size:6em; width:5em; height:5em; box-sizing:border-box; 
  margin:1em auto; padding:1.3em 0 0; text-align:center;
  border:.3ex solid; border-radius:3em; animation:glow 4s infinite alternate }
#logo>a { font-size:100px; display:inline-block; width:1em; height:1em; border-radius:.2em;
  animation:flicker 100ms infinite }

@keyframes flicker { 
  from,95% { background-color:transparent }
  to { background-color:rgba(22,121,156,.8) } }
@keyframes glow {
  from { box-shadow:-1px 1px 8px #rgba(255,255,200,.3), 1px -1px 8px rgba(255,255,255,.3);
    color:rgba(255,255,255,.2) }
  to { box-shadow:none; color:transparent }}
